[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/shields-contracts"]
	path = lib/shields-contracts
	url = https://github.com/area-technology/shields-contracts
