[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
solc = "0.8.17"
optimizer_runs = 1000000

[fmt]
line_length = 100
tab_width = 4
bracket_spacing = true
int_types = "long"
func_attrs_with_params_multiline = false
quote_style = "double"
number_underscore = "thousands"
